@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-color: #0051B6;
  --warning-color: #d0342c;
  --font-base: 'Sanchez', 'serif';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden;
  font-family: var(--font-base);
}
