.mySwiper{
    div{
        div {
            width: 20rem !important;
            height: 12rem !important;
            margin-right: 2rem !important;
            border-radius: 7px;
        }
    }
}